<a href="https://colab.research.google.com/github/CodeX-Addy/Machine_Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
## Series Data Structure
data = pd.Series([10, 20, 30, 40, 50])
print(data.head(3))

0    10
1    20
2    30
dtype: int64

In [5]:
## Printing tail values
print(data.tail(2))

3    40
4    50
dtype: int64

In [6]:
## Describe
print(data.describe())

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [8]:
## Mathematical Operations
print(data.sum())
print(data.mean())
print(data.mode())
print(data.cumsum()) ## Cumulative sum of series

150
30.0
0    10
1    20
2    30
3    40
4    50
dtype: int64
0     10
1     30
2     60
3    100
4    150
dtype: int64

In [9]:
## Sort Values
print(data.sort_values(ascending=False))

4    50
3    40
2    30
1    20
0    10
dtype: int64

In [ ]:
# Dataframe Data Structure
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [ ]:
df.head()

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
# Accessing the elements in pandas
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int64

In [ ]:
type(df.loc['Row1'])

pandas.core.series.Series

In [ ]:
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [ ]:
#Convertng Data frames into array

df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [ ]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int64
 1   Column2  5 non-null      int64
 2   Column3  5 non-null      int64
 3   Coumn4   5 non-null      int64
dtypes: int64(4)
memory usage: 372.0+ bytes

In [ ]:
df.describe()

         Column1    Column2    Column3     Coumn4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
df.corr()

         Column1  Column2  Column3  Coumn4
Column1      1.0      1.0      1.0     1.0
Column2      1.0      1.0      1.0     1.0
Column3      1.0      1.0      1.0     1.0
Coumn4       1.0      1.0      1.0     1.0